# Folders program don't need
venv/
__pycache__/
temp/
*extracted/
*disasm/

# Folders program need
# files/
# dex2jar-2.0/
# jadx-1.2.0/

# Other files
tests.py
1.jar
*.apk
*.dex
*.elf
*.so
*.class