# Folders program don't need
venv/
__pycache__/
temp/
ROPgadget/
*extracted/
*disasm/
*smali_files/
*java_files/
*asm_files/

# Folders program need
# files/
# dex2jar-2.0/
# jadx-1.2.0/

# Other files
tests.py
*.jar
*.apk
*.dex
*.elf
*.so
*.class